
@mixin flexbox ($direction:row, $justify-content:flex-start, $align-items:flex-start, $gap:0) {
    display:flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
    gap:$gap;
}

@mixin reset-list {
    list-style: none;
    padding:0;
    margin:0;
}